<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>

<body bgcolor="#79C949">

<img src="https://static.businessinsider.com/image/4d10df83ccd1d538099c0000-750.jpg" alt="Qurashboy" width="160" height="160">

<h1><center><font color="white">Stive Jobs</font></center></h1>

<h2><center><font color="white"><b>Mutaxasisligi:</b> <i>Dekan</i></font></center></h2>

</body>
</html>
